beautifulsoup4==4.6.0
blessings==1.6
bpython==0.16
certifi==2022.12.7
chardet==3.0.4
curtsies==0.2.11
delegator.py==0.0.14
dnspython==1.15.0
greenlet==0.4.12
idna==2.6
pdns-api-client==0.0.13
pexpect==4.3.1
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycryptodome==3.4.7
pycryptodomex==3.4.7
Pygments==2.2.0
python-dateutil==2.6.1
requests==2.18.4
requests-toolbelt==0.8.0
sendclient==0.1.2
six==1.11.0
tqdm==4.19.2
urllib3==1.22
wcwidth==0.1.7
